
#-----------------------------------------------------------------------------#
# Ignore everything by default:
#-----------------------------------------------------------------------------#

/*
/*/


#-----------------------------------------------------------------------------#
# But allow those files and folders:
#-----------------------------------------------------------------------------#

!/LICENSE
!/.gitattributes
!/.gitignore
!/.vscode
!/src
!/globals.d.ts
!/package.json
!/tsconfig.json
!/webpack.config.js

#-----------------------------------------------------------------------------#
# But make sure to ignore those regardless:
#-----------------------------------------------------------------------------#

.DS_Store
Thumbs.db
