* -text

.editorconfig   text
.gitattributes  text
.gitignore      text
LICENSE         text
*.md            text
*.js            text
*.ts            text
*.json          text
*.yml           text

*.obj           text
*.gltf          text
*.bin           binary
